<h1>GRE Practice</h1>
<h2>General Information</h2>
<p><%= link_to 'Number Properties', '/statics/numbers' %></p>
<h2>Vocabulary</h2>
<p><%= link_to 'Dictionary', controller: 'words' %></p>
<p><%= link_to 'Word Games', controller: 'games' %></p>
