<h1>Number Properties</h1>
<p><%= link_to 'Back', root_path %></p>
<div class="box">
  <p>Negative numbers are even or odd.</p>
  <p>0 is even.</p>
  <p>0 and 1 are not prime.</p>
  <p>2 is the only even prime.</p>
</div>

<div class="box">
  <p>Rules for evens and odds.</p>
  <ul>
    <li>even + even = odd</li>
    <li>even + odd = odd</li>
    <li>odd + odd = even</li>
    <li>even * even = even</li>
    <li>even * odd = even</li>
    <li>odd * odd = odd</li>
  </ul>
</div>
<div class="box">
  <h2>Tips</h2>
  <p>Plug in each of the following for comparative questions to eliminate "Cannot be determined by the information given."</p>
  <ul>
    <li>Fraction</li>
    <li>Repeats</li>
    <li>1</li>
    <li>0</li>
    <li>Extreme</li>
    <li>Negative</li>
  </ul>
  <p>Plug in numbers by observing the following.</p>
  <ul>
    <li>Avoid 1 and 0.</li>
    <li>Don't use numbers that are in the problem.</li>
    <li>Use different numbers for different unknowns.</li>
    <li>Don't use conversion numbers. (ie. 60)</li>
  </ul>
  <p>Use the common denominator as a test number when dealing with fraction problems.</p>
  <p>Remember to flip an inequality sign if multiply or divide by a negative. (When the sign changes.)</p>
</div>

<div class="box purple">
  <h2>Factors and Multiples</h2>
  <p><span class="label">Factor:</span>A number that will divide another evenly.</p>
  <p><span class="label">Multiple:</span>Results of multiplying an integer.</p>
  <h2>Rules of Division</h2>
  <p>To determine if an integer is divisible by ... do ...</p>
  <ol start="2">
    <li>Unit digit is divisible by 2.</li>
    <li>The sum of its digits is divisible by 3.</li>
    <li>Last two digits form a number that is divisible by 4.</li>
    <li>Units digit is divisible by 0 or 5.</li>
    <li>Divisible by both 2 and 3.</li>
    <li>Nothing can help you.</li>
    <li>Last three digits form a number that is divisible by 8.</li>
    <li>The sum of its digits is divisible by 9.</li>
    <li>Units digit is 0.</li>
  </ol>
</div>

<div class="box blue">
  <h2>Common Fractions</h2>
  <table>
    <tr><td>0.01</td><td>1/100</td></tr>
    <tr><td>0.1</td><td>1/10</td></tr>
    <tr><td>0.2</td><td>1/5</td></tr>
    <tr><td>0.25</td><td>1/4</td></tr>
    <tr><td>0.333...</td><td>1/3</td></tr>
    <tr><td>0.4</td><td>2/5</td></tr>
    <tr><td>0.5</td><td>1/2</td></tr>
    <tr><td>0.6</td><td>3/5</td></tr>
    <tr><td>0.666...</td><td>2/3</td></tr>
    <tr><td>0.75</td><td>3/4</td></tr>
    <tr><td>0.8</td><td>4/5</td></tr>
  </table>
</div>

<div class="box">
  <h2>Formulas</h2>
  <p>
    <span class="math">Percentage Change =</span>
    <span class="math fraction">
      <span class="numerator">Difference</span>
      <span class="denominator">Original</span>
    </span>
    <span class="math"> * 100</span>
  </p>
</div>
