<%= form_with model: @word, local: true, class: "box" do |form| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@word.errors.count, "Error") %> prohibited this word from being saved.
      </h2>
      <ul>
        <% @word.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :word %><br>
    <%= form.text_field :word, disabled: @word.editable? %>
  </p>
  <p>
    <%= form.label :part_of_speech %><br>
    <%= form.select :part_of_speech, options_for_select(
        [['verb','verb'],['noun','noun'],['adjective','adjective']]
      ), disabled: @word.editable? %>
  </p>
  <p>
    <%= form.label  :score %><br>
    <%= form.number_field :score, in: 0..100, step: 1 %>
  <p>
    <%= form.label :definition %><br>
    <%= form.text_area :definition, disabled: @word.editable?%>
  </p>
  <p>
    <%= form.label :sentence %><br>
    <%= form.text_area :sentence %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
