<tr>
  <td><%= word.word %></td>
  <td><%= word.part_of_speech%></td>
  <td><%= link_to 'Show', word_path(word) %> |</td>
  <td><%= link_to 'Edit', edit_word_path(word) %> |</td>
  <td><%= link_to_if word.editable?, 'Delete', word_path(word), method: :delete,
            data: {confirm: "Permanently delete word?"} %></td>
</tr>
