<h1>Dictionary</h1>
<%= link_to 'New Word', new_word_path %> |
<%= link_to 'Back', welcome_index_path %>
<table>
  <thead><tr>
    <th>Word</th>
    <th>Part of speech</th>
  </tr></thead>
  <tbody id="words">
    <%= render @words %>
  </tbody>
</table>
<div id = "paginator"><%= paginate @words, remote: true %></div>
