<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>
<p>
  <strong>Part of speech:</strong>
  <%= @word.part_of_speech %>
</p>
<p>
  <strong>Definitions</strong>
  <ul>
    <% @definitions.each do |d| %>
      <li><%= d %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> | <%= link_to 'Back', words_path %>
