<h1>Flash Cards</h1>
<p>Flip the 'card' to see the definition.</p>
<p><%= link_to 'Next Card', "/games/flash_cards" %></p>

<div class="box red">
  <p><strong>Word:</strong> <%= @word.word %></p>
  <p><strong>Part of Speech:</strong> <%= @word.part_of_speech %></p>
  <p><%= link_to 'Flip', "/games/flash_cards/#{@word.id}", remote: true, id: 'flip' %></p>
</div>
<div id="hidden-div" class="box red hidden">
  <ul id="flash_answer"></ul>
  <div class="flex-box">
    <%= form_tag "/games/flash_cards/#{@word.id}/edit" do %>
      <%= hidden_field_tag "score_action", "decrement" %>
      <%= image_submit_tag "dialog-ok-apply.png" %>
    <% end %>
    <%= form_tag "/games/flash_cards/#{@word.id}/edit" do %>
      <%= hidden_field_tag "score_action", "increment" %>
      <%= image_submit_tag "edit-delete.png" %>
    <% end %>
  </div>
</div>
<p><%= link_to 'Back', controller: 'games' %></p>
