
// log("<%= @word.definition_list %>");
var l = $('#flash_answer');
<% @word.definition_list.each do |d| %>
  l.insert("li","<%= d %>");
<% end %>
var d = $('#hidden-div');
d.classList.remove("hidden");
