// Place all the styles related to the FlashCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-box {
  display: flex;
  flex-direction: row;
}
.flex-box * {
  margin: 5px;
}
