// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  margin: 3px;
}

form p {
  margin: 5px;
}

form p input {
  width: 25%;
}
form p textarea {
  width: 95%;
}

.hidden {
  visibility: hidden;
}

.emphasize {
  font-weight: bold;
}

.label {
  font-weight: bold;
  max-width: 100px;
  min-width: 50px;
}

.box {
  margin: auto;
  width: 95%;
  padding: 5px;
  border: 3px solid #6e9191;
  border-radius: 3px;
  background-color: #e2e9e9;
  // color: #f0f4f4;
}

.purple {
  border-color: #993399;
  background-color: #f9ecf9;
}

.blue {
  border-color: #001f4d;
  background-color: #e6f0ff;
}

.red {
  border-color: #800000;
  background-color: #ffe6e6;
}

.math {
  text-align: center;
  font-family: monospace;
  font-size: 120%;
}

.fraction {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.fraction .numerator {
  float: left;
  border-bottom: 1px solid black;
  width: 100%;
}
.fraction .denominator {
  width: 100%;
  clear: left;
  float: left;
}
